<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FERHRI.Infores.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FERHRI.Infores.Properties.Settings.ConnectionStringSGMO" connectionString="Server=10.11.203.20;Port=5432;Database=sgmo;"/>
        <add name="FERHRI.Infores.Properties.Settings.ConnectionStringSocial" connectionString="Server=10.11.203.20;Port=5432;Database=ferhri.amur;"/>
        <add name="FERHRI.Infores.Properties.Settings.ConnectionStringAmur" connectionString="Server=10.11.203.20;Port=5432;Database=ferhri.amur;"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <FERHRI.Infores.Properties.Settings>
            <setting name="UserPassword" serializeAs="String">
                <value>postgres;qq</value>
            </setting>
        </FERHRI.Infores.Properties.Settings>
    </userSettings>
</configuration>
