<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Viaware.Sakura.Meta.Properties.Settings.ConnectionStringSakuraMeta"
            connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=HMDic;Data Source=192.168.203.165" />
    </connectionStrings>
</configuration>