<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FERHRI.Amur.Sinchronization.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="FERHRI.Amur.Sinchronization.Properties.Settings.HBRAmurConnectionString"
      connectionString="Server=10.8.3.180;Port=5432;Database=ferhri.amur" />
    <add name="FERHRI.Amur.Sinchronization.Properties.Settings.FERHRIAmurConnectionString"
      connectionString="Server=10.11.203.20;Port=5432;Database=ferhri.amur" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IService1" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.11.203.34:8001/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="FERHRIAmurServiceReference.IService" name="BasicHttpBinding_IService"/>
      <endpoint address="http://10.8.3.180:8001/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="HBRAmurServiceReference.IService" name="BasicHttpBinding_IService1"/>
    </client>
  </system.serviceModel>
  <userSettings>
    <FERHRI.Amur.Sinchronization.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value>OSokolov</value>
      </setting>
      <setting name="UserPassword" serializeAs="String">
        <value>qq</value>
      </setting>
    </FERHRI.Amur.Sinchronization.Properties.Settings>
  </userSettings>
</configuration>
