<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SOV.DB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SOV.GFS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SOV.GFS.Settings.FTPPath05" connectionString="ftp://10.11.203.28/data/NOAA/NCEP/FTPPRD/pub/data/nccf/com/gfs/prod" />
    </connectionStrings>
    <userSettings>
        <SOV.DB.Properties.Settings>
            <setting name="GFSFTPPath05full" serializeAs="String">
                <value>ftp://10.11.203.28/data/NOAA/NCEP/FTPPRD/pub/data/nccf/com/gfs/prod</value>
            </setting>
            <setting name="GFSFTPPath025" serializeAs="String">
                <value> ftp://10.11.203.28/data/NOAA/NCEP/FTPPRD/pub/data/nccf/com/gfs/prod0p25</value>
            </setting>
        </SOV.DB.Properties.Settings>
        <SOV.GFS.Properties.Settings>
            <setting name="FTPPath05" serializeAs="String">
                <value>ftp://10.11.203.28/data/NOAA/NCEP/FTPPRD/pub/data/nccf/com/gfs/prod</value>
            </setting>
        </SOV.GFS.Properties.Settings>
    </userSettings>
</configuration>