<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sakura.Export.Field.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Sakura.Export.Field.Settings.FieldConnectionString"
            connectionString="Initial Catalog=hmdgribmonth;user id=sa;password=sqlsrv2-server; Data Source=192.168.203.195" />
        <add name="Sakura.Export.Field.Settings.HmdicConnectionString"
            connectionString="Initial Catalog=hmdic;user id=sa;password=sqlsrv2-server; Data Source=192.168.203.195" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Sakura.Export.Field.Settings>
            <setting name="YearS" serializeAs="String">
                <value>1950</value>
            </setting>
            <setting name="YearF" serializeAs="String">
                <value>2017</value>
            </setting>
            <setting name="GeoregIdExtract" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="ExportParams" serializeAs="String">
                <value>export_type=BIG_2018;monthes_back=9</value>
            </setting>
            <setting name="OutputDir" serializeAs="String">
                <value>D:\Temp\FERHRI\Sakura.Export.Field\BIG_2018</value>
            </setting>
            <setting name="OutputDir_SAVE" serializeAs="String">
                <value>D:\Temp\FERHRI\Sakura.Export.Field\BIG_2018************C:\Temp\FERHRI\Export\Field\BIG_2018</value>
            </setting>
        </Sakura.Export.Field.Settings>
    </userSettings>
</configuration>