<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FERHRI.Analog.Properties.Settings.HmDicConnectionString"
            connectionString="Data Source=SRV2;Initial Catalog=HmDic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>