<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FERHRI.Niokr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FERHRI.Niokr.Properties.Settings.NiokrConnectionString"
            connectionString="Server=10.11.203.20;Port=5432;Database=niokr;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FERHRI.Niokr.Properties.Settings>
            <setting name="AmurConnectionString" serializeAs="String">
                <value>ДВНИГМИ/Server=10.11.203.20;Port=5432;Database=ferhri.amur;</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>OSokolov;qq</value>
            </setting>
        </FERHRI.Niokr.Properties.Settings>
    </userSettings>
</configuration>