<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService"/>
        <binding name="BasicHttpBinding_IService1" sendTimeout="20:20:20" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.116.90:8001/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="AmurServiceReference.IService" name="BasicHttpBinding_IService"/>
      <endpoint address="http://localhost:8010/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="FieldServiceReference.IService" name="BasicHttpBinding_IService1"/>
    </client>
  </system.serviceModel>
</configuration>
