<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Sakura.IndecesAnalyze.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Viaware.Sakura.Properties.Settings.MetaConnectionString"
      connectionString="Data Source=192.168.203.165;Initial Catalog=Hmdic;User ID=sa;Password=sqlsrv4-server" />
    <!--<add name="Viaware.Sakura.Properties.Settings.MetaConnectionString"
      connectionString="Data Source=192.168.203.195;Initial Catalog=Hmdic;User ID=sa;Password=sqlsrv2-server" />-->
  </connectionStrings>

  <appSettings>

    <!--ИНДЕКСЫ-->

    <add key="Indeces.CatalogId" value="PDO=63810;AMO=278157;SOI=62322;NOI=278158;Ta.Амур.19ст=277108;Ta.Уссури.14ст=277110;Ta.Амур+Уссури.31ст=277112;R.Амур+Уссури.31ст=277113;R.Уссури.14ст=277111;R.Амур.19ст=277109"/>

    <!--<add key="Indeces.ClassSetBound" value="0.67S;0 LT-0.67; 1 norm;2 GE0.67;-0.67,+0.67"/>-->
    <add key="Indeces.ClassSetBound" value="Больше-меньше нормы;0 LTnorm; 1 GTnorm;0"/>
    <!--<add key="Indeces.ClassSetBound" value="0.43S;0 LT; 1 norm;2 GE;-0.43,+0.43"/>-->
    <!--<add key="Indeces.ClassSetBound" value="0.1S;0 LT; 1 norm;2 GE;-0.1,+0.1"/>-->

    <!--КЛАССЫ ЛЕТ-->

    <!--<add key="ClassName" value="Станционные осадки бассейна р. Амур, ОДПП-2014"/>
    <add key="Class0" value="Маловодные годы (гидро);1979,2002,2008"/>
    <add key="Class1" value="Многоводные годы (гидро);1972,1984,1991,2013"/>-->

    <add key="ClassName" value="Станционные осадки бассейна р. Уссури, Гарцман-2016"/>
    <add key="Class0" value="Маловодные годы ;1986,2001,2008,1973,1958,1977,1961,1978,2005,1969,1953,1988,1970,1997,1982,2003"/>
    <add key="Class1" value="Многоводные годы;1994,2000,1989,1962,1968,1971,1974,1984,2012,1998,1975,1992"/>

    <!--<add key="Class0" value="Маловодные годы (осадки);1954,1986,1974,1979,2008"/>
    <add key="Class1" value="Многоводные годы (осадки);1959,1981,1984,2013"/>-->
    <!--<add key="Class0" value="All years 1986-2015;
         1986,1987,1988,1989,1990,
         1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,
         2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,
         2011,2012,2013,2014,2015"/>-->

    <!--ДАТЫ И ПРОЧ-->
    <add key="ActionTimeId" value="2"/>
    <add key="DateSF" value="1950.01.01-2020.01.01"/>
    <add key="ClmYearSF" value="1950-2020"/>
    <add key="OutputDir" value="D:\Temp\FERHRI\Sakura.IndecesAnalyze\"/>
    <!--<add key="OutputDir" value="C:\Temp\Task.IndecesAnalize"/>-->
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <Sakura.IndecesAnalyze.Properties.Settings>
      <setting name="MetaConnectionString" serializeAs="String">
        <value>Data Source=192.168.203.165;Initial Catalog=Hmdic;User ID=sa;Password=sqlsrv4-server</value>
      </setting>
    </Sakura.IndecesAnalyze.Properties.Settings>
  </userSettings>
</configuration>